$background-dark: #1c3041;
$secondary-color: #6874e8;
$text-color: #fbf5f3;
$tertiary-color: #766c6c;

:root {
  --background-dark: $background-dark;
  --secondary-color: $secondary-color;
  --text-color: $text-color;
  --tertiary-color: $tertiary-color;
}
