$background-dark: #1C3041;
$secondary-color: #6874E8;
$text-color: #FBF5F3;
$tertiary-color: #766C6C;

:root {
    --background-dark: $background-dark;
    --secondary-color: $secondary-color;
    --text-color: $text-color;
    --tertiary-color: $tertiary-color;
  }
